{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Iniciar sesion</h1>
  </div>
{% endblock %}
{% block content %}
  <form action="{{ url_for('auth_authenticate') }}" method="POST">
    <input name="username" placeholder="Username" required/>
    <br>
    <input type="password" name="password" placeholder="Clave" required/>
    <br>
    <input type="submit" value="Login">
  </form>
  <br>
  <a href="{{ url_for('auth_loginG') }}" class="link">Iniciar sesión con google</a>
{% endblock %}
