{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block headline %}
Iniciar Sesión
{% endblock %}

{% block content %}
<div id=auth>
  <form action="{{ url_for('auth_authenticate') }}" method="POST">
    <input name="username" placeholder="Username" required/>
    <br>
    <input type="password" name="password" placeholder="Clave" required/>
    <br>
    <input type="submit" value="Login">
  </form>
  <br>
  <a href="{{ url_for('auth_loginG') }}" class="link">Iniciar sesión con google</a>
</div>
{% endblock %}
