{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Consultas</h1>
  </div>
{% endblock %}
{% block content %}
  {% for issue in issues %}
    <li>{{ issue.email }} - {{ issue.description }} - {{ issue.category.name }} - {{ issue.status.name }}</li>
  {% endfor %}
  <a href="{{ url_for('home') }}" class="link">Volver</a>
  <a href="{{ url_for('issue_new') }}" class="link">Nuevo</a>
{% endblock %}
