{% extends "layout.html" %}
{% block title %}recorridos{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/MapMarkerEdit.js" ></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Editar recorrido</h1>
  </div>
{% endblock %}

{% block content %}
  <form id="form-map"  action="{{ url_for('recorrido_update') }}" method="POST">
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    {{ form.csrf_token }}
    {{ form.id(value= recorrido.id)}}
    {{ form.coordenadas (id="coordenadas",class="coordenadas",placeholder=recorrido.coordenadas,value=recorrido.coordenadas) }}
  
    <fieldset class="form-field">
      {{ form.nombre.label }}
      <br>
      {{ form.nombre (placeholder=recorrido.nombre,value=recorrido.nombre) }}
        {% if form.nombre.errors %}
        <ul class="errors">
          {% for error in form.nombre.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.descripcion.label }}
      <br>
      {{ form.descripcion (placeholder=recorrido.descripcion,value=recorrido.descripcion) }}
        {% if form.descripcion.errors %}
        <ul class="errors">
          {% for error in form.descripcion.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.estado.label }}
      {{ form.estado (placeholder=recorrido.estado,value=recorrido.estado)}}
        {% if form.estado.errors %}
        <ul class="errors">
          {% for error in form.estado.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <p>
      <input type="submit" value="Editar">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('recorrido_index') }}" class="link">Volver</a>
{% endblock %}