{% extends "layout.html" %}
{% block title %}recorridos{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/MapMarkerEdit.js" ></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Editar recorrido</h1>
  </div>
{% endblock %}

{% block content %}
  <form id="form-map"  action="{{ url_for('recorrido_update') }}" method="POST">
    <input id="coordenadas" class="recorridos" type="hidden" value="{{ recorrido.coordenadas }}" name="coordenadas">
    <input id="nombre" class="recorridos-nombre" type="hidden" value="{{ recorrido.nombre }}" >
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    <input type="hidden" class="form-control"  id="id" name="id" value="{{recorrido.id}}">
    <p>
      <label>Nombre<label>
      <input name="nombre" placeholder="{{ recorrido.nombre}}" value="{{ recorrido.nombre}}" required/>
    </p>
    <p>
      <label>Descripcion<label>
      <textarea rows = "5" cols = "21" name= "descripcion" required >{{ recorrido.descripcion }}</textarea>
    </p>
    <p>
      <label>Estado </label>
      <select name="estado" value="{{recorrido.estado}}"required>
        <option value="" disabled hidden>
          Seleccione un estado
        </option>
        <option value="publicado">Publicado</option>
        <option value="despublicado">Despublicado</option>
      </select>
    </p>
    <p>
      <input type="submit" value="Modificar">
      <input type="reset" value="reset">
    </p>
  </form>
  <a href="{{ url_for('recorrido_index') }}" class="link">Volver</a>
{% endblock %}