{% extends "layout.html" %}
{% block title %}Crear Recorrido{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
{% endblock %}

{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Crear recorrido</h1>
  </div>
{% endblock %}

{% block content %}
  <form id="form-map" action="{{ url_for('recorrido_create') }}" method="POST">
      <div class="map-container">
        <div id="mapid" class="mapform" ></div>
      </div> 
      {% for f in form %}
      {% if f == form.csrf_token %}
        {{ f }}
      {% elif f==form.coordenadas %}
        {{ f }}
      {% else %}
      {{ f.label }}
      {{ f }}
      <ul class="errors">
        {% for error in f.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
      <br>
    <p>
      <input type="submit" value="Crear">
      <input type="reset" value="reset">
    </p>
  </form>
  <a href="{{ url_for('recorrido_index') }}" class="link">Volver</a>
{% endblock %}