{% extends "layout.html" %}
{% block title %}Crear Recorrido{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
{% endblock %}

{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Crear recorrido</h1>
  </div>
{% endblock %}

{% block content %}
  <form id="form-map" action="{{ url_for('recorrido_create') }}" method="POST">
      <input id="coordenadas" type="hidden" class="coordenadas" name="coordenadas" id="coordenadas">
      <div class="map-container">
        <div id="mapid" class="mapform" ></div>
      </div> 
    <p>
      <label>Nombre <label>
      <input type="text" name="nombre" placeholder="Nombre" required/>
    </p>
    <p>
      <label>Descripcion<label>
      <textarea rows = "5" cols = "21" name= "descripcion" required ></textarea>
    </p>
    <p>
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
          <option value="publicado">Publicado</option>
          <option value="despublicado">Despublicado</option>
        </select>
    </p>
    <p>
      <input type="submit" value="Crear">
      <input type="reset" value="reset">
    </p>
  </form>
  <a href="{{ url_for('recorrido_index') }}" class="link">Volver</a>
{% endblock %}