{% extends "layout.html" %}
{% block title %}{{zona.nombre}}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
 
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Editar zona</h1>
  </div>
{% endblock %}

{% block content %}
<form id="form-map"  action="{{ url_for('zona_update') }}" method="POST">

  {{ form.csrf_token }}
  {{ form.id(value=zona.id) }}
  {{ form.zonas (id="coordenadas",class="zonas",placeholder=zona.coordenadas,value=zona.coordenadas) }}
  {{ form.zonascolores (class="zonas-colores",placeholder=zona.color,value=zona.color) }}
  {{ form.zonasnombre (class="zonas-nombre",placeholder=zona.nombre,value=zona.nombre) }}

  <div class="map-container">
    <div id="mapid" class="mapform" ></div>
 </div>

  <div class="map-container">
     <div id="mapid" class="mapform" ></div>
  </div>  
    <input type="hidden" class="form-control"  id="id" name="id" value="{{ zona.id }}">
    <p>
      <label>Nombre </label>
      <input id="nombre" name="nombre" placeholder="{{ zona.nombre}}" value="{{ zona.nombre}}" required/>
    </p>
    <p>
      <label>Color </label>
      <input id="color" type="color" name="color" placeholder="{{ zona.color }}" value="{{ zona.color }}"required/>
    </p>
    <p>
      <label>Estado </label>
      <select id="estado" name="estado" value="{{zona.estado}}"required>
        <option value="" disabled hidden>
          Seleccione un estado
        </option>
        <option value="publicado">Publicado</option>
        <option value="despublicado">Despublicado</option>
      </select>
    </p>
    <p>
      <input type="submit" value="Modificar">
      <input type="reset" value="reset">
    </p>
  </form>
  <a href="{{ url_for('zona_index') }}" class="link">Volver</a>
{% endblock %}