{% extends "layout.html" %}
{% block title %}Zonas{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Edita zona</h1>
  </div>
{% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
<form id="form-map"  action="{{ url_for('zona_update') }}" method="POST">
    <input id="coordenadas" class="coordenadas" name="coordenadas" type="hidden">
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    <input type="hidden" class="form-control"  id="id" name="id" value="{{zona.id}}">
    <p>
      <label>Nombre<label>
      <input name="nombre" placeholder="Nombre" value="{{ zona.nombre}}" required/>
    </p>
    <p>
      <label>Color<label>
      <input  type="color" name="color" placeholder="Direccion" value="{{ zona.color }}"required/>
    </p>
    <p>
      <label for="estado">Estado:</label>
        <select id="estado" name="estado">
          <option value="publicado">Publicado</option>
          <option value="despublicado">Despublicado</option>
        </select>
    </p>
      <input type="submit" value="Modificar">
      <input type="reset" value="reset">
    </p>
  </form>
  <a href="{{ url_for('zona_index') }}" class="link">Volver</a>
{% endblock %}