{% extends "layout.html" %}
{% block title %}{{zona.nombre}}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/MapMarkerEdit.js" ></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
 
{% endblock %}
{% block headline %}
Editar "{{ zona.nombre }}"
{% endblock %}

{% block content %}
<form id="form-map"  action="{{ url_for('zona_update') }}" method="POST">

  {{ form.csrf_token }}
  {{ form.id(value=zona.id) }}
  {{ form.zonas (id="coordenadas",class="zonas",placeholder=zona.coordenadas,value=zona.coordenadas) }}
  {{ form.zonascolores (class="zonas-colores",placeholder=zona.color,value=zona.color) }}
  {{ form.zonasnombre (class="zonas-nombre",placeholder=zona.nombre,value=zona.nombre) }}

  <div class="map-container">
    <div id="mapid" class="mapform" ></div>
 </div>
  <div class=card>
  <fieldset class="form-field">
    {{ form.nombre.label }}
    <br>
    {{ form.nombre (placeholder=zona.nombre,value=zona.nombre) }}
      {% if form.nombre.errors %}
      <ul class="errors">
        {% for error in form.nombre.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>
  <fieldset class="form-field">
    {{ form.color.label }}
    <br>
    {{ form.color (placeholder=zona.color,value=zona.color)}}
      {% if form.color.errors %}
      <ul class="errors">
        {% for error in form.color.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>
  <fieldset class="form-field">
    {{ form.estado.label }}
    <br>
    {{ form.estado (placeholder=zona.estado,value=zona.estado)}}
      {% if form.estado.errors %}
      <ul class="errors">
        {% for error in form.estado.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>
    <p>
      <input type="submit" value="Modificar">
      <input type="reset" value="reset">
    </p>
  </form>
  <a href="{{ url_for('zona_index') }}" class="link">Volver</a>
{% endblock %}
