{% extends "layout.html" %}
{% block title %}Zonas{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script>
    const initialLat = -34.9186;
    const initialLng = -57.956;
    const mapLayerUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    class Map {
        constructor({ selector }) {
          this.initializeMap(selector);
      }
      initializeMap(selector) {
          this.map = L.map(selector).setView([initialLat, initialLng], 13);
          L.tileLayer(mapLayerUrl).addTo(this.map);
      };
      addZone(zona, color, nombre){
        let polygon = L.polygon(
            zona, {color:color}
        ).addTo(this.map).bindPopup(nombre);
        this.map.fitBounds(polygon.getBounds());
      };
    }
  </script>
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Zonas</h1>
  </div>
{% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
{% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'zona_new') %}
  <a href="{{ url_for('zona_new') }}" class="link" style="float:right;  margin-top: 5px;" >Nuevo</a>
  <form action="{{ url_for('zona_csv') }}" method="POST" enctype="multipart/form-data" style="float:right;  margin-top: 5px;">
    <input type="file" accept=".csv" name="csv" required/>
    <br>
    <button type="submit">Subir</button>
  </form>
{% endif %}
<form  class="tabla" action="{{ url_for('zona_filtro') }}" method="POST">
<h3>Filtrar</h3> 
      <input name="nombre" placeholder="Nombre"/>  
      <select  name="estado">
        <option value="" selected>Seleccione un estado</option>
        <option value="publicado">Publicado</option>
        <option value="despublicado">Despublicado</option>
      </select>
      <input type="submit" value="Filtrar">
</form>
<br>
<table>
  <tr>
      <th>  Nombre  </th>
      <th>  Color  </th>
      <th>  Estado   </th>
      <th>Coordenadas</th>
      {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'zona_edit') %}
        <th>  Acciones  </th>
      {% endif %}
  </tr>
{% for zona in zonas.items %}
    <tr>
      <td>{{ zona.nombre }}</td>
      <td style="background-color: {{ zona.color }};">{{ zona.color }} </td>
      <td>{{ zona.estado }} </td>
      <td>
        <iframe  src="{{  url_for('zona_show_map', id = zona.id ) }}" loading="lazy" name="map" style="width: 100%;height:8rem;">
        </iframe>
      </td>
    <td>
      <form action="{{  url_for('zona_edit', id = zona.id ) }}"  >
        {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'zona_edit') %}
        <button type="submit" class="btn btn-warning mt-2 ml-2">Editar</button>
        {% endif %}
      </form>
      {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'zona_delete') %}
      <form action="{{ url_for('zona_delete') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="zona_id" name="zona_id" value="{{zona.id}}">
        <button onclick="return confirm('¿Esta seguro de que desea eliminar este zona?');" class="btn btn-danger mt-2 ml-2">eliminar</a>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

  {% if zonas.has_prev %}
  <a class="link" href="{{ url_for('zona_index', page_num=zonas.prev_num,) }}">Anterior</a>
  {% endif %}
  {% for page_num in zonas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num%}
       {% if zonas.page == page_num%}
         <a href="" class="link selected">{{page_num}}</a>
       {% else %}
         <a href="{{ url_for('zona_index',page=page_num)}}" class="link">{{page_num}}</a>
       {% endif %}
     {% endif %}
  {% endfor %}
 {% if zonas.has_next %}
  <a class="link" href="{{ url_for('zona_index', page=zonas.next_num) }}">Siguiente</a>
  {% endif %}


  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}
