{% extends "layout.html" %}
{% block title %}Zonas{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Zonas</h1>
  </div>
{% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'zona_new') %}
  <a href="{{ url_for('zona_new') }}" class="link" style="float:right;  margin-top: 5px;" >Nuevo</a>
  {% endif %}
  <div class="map-container">
    {% for zona in zonas.items %}
      <input id="{{ zona }}" class="zonas" type="hidden" value="{{ zona.coordenadas }}" >
      <input id="{{ zona }}" class="zonas-colores" type="hidden" value="{{ zona.color }}" >
      <input id="{{ zona }}" class="zonas-nombre" type="hidden" value="{{ zona.nombre }}" >
    {% endfor %}
    <div id="mapid" class="mapform"></div>
  </div>
  {% for zona in zonas.items %}
    <p>{{ zona.nombre }}</p>
    {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'zona_edit') %}
        <form action="{{ url_for('zona_edit', id = zona.id ) }}"  >
          <button type="submit" class="btn btn-warning mt-2 ml-2">Editar</button>
        </form>
    {% endif %}
    {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'zona_delete') %}
    <form action="{{ url_for('zona_delete') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="zona_id" name="zona_id" value="{{ zona.id }}">
        <button onclick="return confirm('¿Esta seguro de que desea eliminar esta Zona?');" class="btn btn-danger mt-2 ml-2">eliminar</button>
    </form>
    {% endif %}
  {% endfor %}

  {% if zonas.has_prev %}
  <a class="link" href="{{ url_for('zona_index', page_num=zonas.prev_num,) }}">Anterior</a>
  {% endif %}
  {% for page_num in zonas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num%}
       {% if zonas.page == page_num%}
         <a href="" class="link selected">{{page_num}}</a>
       {% else %}
         <a href="{{ url_for('zona_index',page=page_num)}}" class="link">{{page_num}}</a>
       {% endif %}
     {% endif %}
  {% endfor %}
 {% if zonas.has_next %}
  <a class="link" href="{{ url_for('zona_index', page=zonas.next_num) }}">Siguiente</a>
  {% endif %}


  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}
