{% extends "layout.html" %}
{% block title %}Zonas{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
{% endblock %}

{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Nueva zona</h1>
  </div>
{% endblock %}

{% block content %}
  <form id="form-map" action="{{ url_for('zona_create') }}" method="POST">
    <input type="text" class="coordenadas" name="coordenadas" id="coordenadas">
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    <p>
      <label>Nombre <label>
      <input type="text" name="nombre" placeholder="Nombre" required/>
    </p>
    <p>
        <label>Color </label>
        <input type="color" id="color" name="color" value="#FF6E4E" >
    </p>
    <p>
      <label for="estado">Estado:</label>
      <select id="estado" name="estado">
        <option value="publicado">Publicado</option>
        <option value="despublicado">Despublicado</option>
      </select>
    </p>
    <p>
      <button type="submit" value="Crear">Crear</button>
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('zona_index') }}" class="link">Volver</a>
{% endblock %}