{% extends "layout.html" %}
{% block title %}Zonas{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
{% endblock %}

{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Nueva zona</h1>
  </div>
{% endblock %}

{% block content %}
  
  <form id="form-map" action="{{ url_for('zona_create') }}" method="POST">
    {{ form.csrf_token }}
    <fieldset class="form-field">
      {{ form.coordenadas }}
        {% if form.coordenadas.errors %}
        <ul class="errors">
          {% for error in form.coordenadas.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    <div class=card>
    <fieldset class="form-field">
      {{ form.nombre.label }}
      <br>
      {{ form.nombre }}
        {% if form.nombre.errors %}
        <ul class="errors">
          {% for error in form.nombre.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.color.label }}
      <br>
      {{ form.color }}
        {% if form.color.errors %}
        <ul class="errors">
          {% for error in form.color.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.estado.label }}
      <br>
      {{ form.estado }}
        {% if form.estado.errors %}
        <ul class="errors">
          {% for error in form.estado.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <div class="buttonHolder position-absolute fixed-bottom">
    <p>
      <button type="submit" class="btn btn-success" value="Crear">Crear</button>
      <button type="reset" class="btn btn-secondary">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('zona_index') }}" class="link">Volver</a>
</div>
</div>
{% endblock %}