@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 14px;
  min-height: 100vh;
  margin:0;
  height: 100%;
}

.header {
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  position:fixed;
  bottom:0; 
  min-height:50px;
  text-align: center;
  width: 100%;
}

#container {
  width: 75%;
  height: 90%;
  margin: 0 auto;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}

a.navbar{
  text-transform: uppercase;
  font-size: 10px;
  padding: 15px 10px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: left;
  height:50px; 
  width:250px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

a.page {
  pointer-events: none;
  cursor: default;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 25%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  padding-top: 36px;
}

.navbar a {
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.navbar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	margin-bottom: 21px;
}

.content {
  margin: 0 auto;
  width: 45%;
}

table, td, th {
  border: 1px solid rgb(32, 32, 32);
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: right;
  padding: 5px;
}

.form {
  margin-top: 20px;
}