@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1em;
}

form label, form select, form option{
  display: block;
  
}
 .tabla {
  display: flex; 
}
.tabla .filtro input {
  display: inline-block;
}

.errors,.error,.danger {
  color: red
}

.success {
  color: green
}

.tabla {
  display: flex;  
}

.tabla input, .tabla select{
  margin-left: 10px;
}

  form div label, form div select, form div option{
  display: inline-block;
  margin-bottom: 2%;
  
}

form button{
  margin-right: 20px;
  width: auto;
}

form h5 {
  margin-bottom: 20px;
}
form label{
  margin-right: 20px;
  width: auto;
  text-align: justify;
}

h1{
  display: inline-flex;
  width: 60%;
  text-align: center;
  flex-direction: column;
}
.header{
  display: flex;
}
.header h1{
  padding: 30px;
  text-align: Center;
  font-size: 30px;
  width: 100%;
  display: revert;
  margin-bottom: 0rem;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  position:fixed ;
  bottom:0; 
  min-height:2em;
  text-align: center;
  width: 100%;
}

a.navbar{
  text-transform: uppercase;
  font-size: 10px;
  padding: 15px 10px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: left;
  height:50px; 
  width:250px;
}

a.link {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
}

.map-fullpage{
  height: 85vh;
  width: 100%;
  display: flex;
  flex-grow: 100;
  border-radius:10px;
}

.usuario{
  text-transform: uppercase;
  height: fit-content;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1 ;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
a.page {
  pointer-events: none;
  cursor: default;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 15%;
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
  margin-bottom: 2em;
  text-align: center;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.navbar a {
  text-decoration: none;
  font-size: 15px;
  display: block;
  width: 100%;
  height: auto;
}

.content { 
  padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    float: center;
    margin: 10px auto;
    width: 50%;
    height: auto;
}


.content table, th{
  text-align:center;
  table-layout:fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing:  1px;
  overflow: hidden;
  word-wrap:break-word;
   
}

@media screen and (min-width: 768px) {
  .content  {
    height: auto;
    padding-left: 300px;
    float: center;
    margin: 10px auto;
    width: 100%;
    font-size:90%;   
  }
  img{
    margin-left: 25%;
    margin-top: 10%;
  }
  .buttonHolder .btn,.buttonHolder .link {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom:auto  
  }
  #content{
    margin-left: 2%;
    width: auto;
    margin-bottom: 2rem;      
  }

  .card{
    height:60vh;
  }

  .mapform{
    max-width:max-content;
    min-width: 65%;
    height:60vh;
    float:right;
    display: flex;
    flex-grow: 100;
    border-radius:10px;
    margin-bottom: 1rem;
  }
  
  .map-fullpage{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-grow: 100;
    border-radius:10px;
  }
  .navbar{
    width: 300px;
  }  
}

@media screen and (min-width: 360px) and ( max-width:768px)  {
  #title{
    padding: 0px;
    font-size: 3em;
  }
  .header {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .content{
      display:grid;
      width: 100%;
      height: auto;
    }
    .buttonHolder .btn,.buttonHolder .link {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      margin-bottom:auto  
    }
    #content{
      width: auto;
      margin-bottom: 2rem;      
    }
    .map-fullpage{
      height: 60vh;
      width: 100%;
      display: flex;
      flex-grow: 100;
      border-radius:10px;
    }

    .mapform{
      width:100%;
      height:40vh;  
      flex-grow: 100;
      border-radius:10px;
      margin-bottom: 1rem;
    }
    .map-container{
      height: 40vh;
    }
    img{
      display: block;
      width: 30%;
      margin: auto;
    }
    .content table, form, .usuario{
      margin-top: auto;
      align-content: center;
      table-layout:fixed;
      width: 100%;
      border-collapse: separate;
      border-spacing:  1px;
      overflow: hidden;  
    }
    .usuario{
      text-align: center;
    }
    .content table button{
      align-items: center;
      width: 72px;
      height: 30px;
      font-size: small;
    }
    .navbar, .navbar a{
      width: 100%;
      text-align: center;
    }
  }

table, td, th {
  border: 1px solid rgb(32, 32, 32);
  text-align: center !important;
  padding: 8px;
  width:fit-content ;
}

table {
  text-align: center;
  border-collapse: collapse;
  min-width: 50%;
}

th , td{
  height: 1%;
}

.form {
  margin-top: 1%;
}

#coordenadaPopUp{
  display: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#lat, #lng, #coordenadas {
  display: none;
}

.paginado{
  margin-top: 10px;
  height:80px;   
}
