@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1em;
  min-height: 100vh;
  height: 100%;
}
#content{
  margin-left: 2%;
}
form label, form select, form option{
  display: block;
  
}
  form div label, form div select, form div option{
  display: inline-block;
  margin-bottom: 2%;
  
}
form button{
  margin-right: 20px;
  width: auto;
}

form h5 {
  margin-bottom: 20px;
}
form label{
  margin-left: 20px;
  width: auto;
  text-align: justify;
}
.header {
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  position:fixed ;
  bottom:0; 
  min-height:2em;
  text-align: center;
  width: 100%;
}

a.navbar{
  text-transform: uppercase;
  font-size: 10px;
  padding: 15px 10px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: left;
  height:50px; 
  width:250px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;

}
.usuario{
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1 ;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
a.page {
  pointer-events: none;
  cursor: default;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 15%;
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
  text-align: center;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.navbar a {
  text-decoration: none;
  font-size: 1em;
  display: block;
  width: 100%;
  height: 3.5em;
}

.navbar #search {
  width: 100%;
  border-radius: 0px;
  height: 42px;
  text-align: center;
  color: rgba(208,207,207,1.00);
  font-size: 14px;
  margin-bottom: 21px;
}

.content { 
  padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    float: center;
    margin: 10px auto;
    width: 50%;
    height: auto;
}

.content table, th{

  text-align:center;
  table-layout:fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing:  1px;
  overflow: hidden;
  word-wrap:break-word;
   
}
.content table button{
  vertical-align: top;
  width: 72px;
  height: 30px;
  font-size: small;
 
}
 



@media screen and (min-width: 768px) {
  .content  {
    height: auto;
    padding-left: 300px;
    float: center;
    margin: 10px auto;
    width: 100%;
    font-size:90%;
    
  }
  
  .navbar{
    width: 300px;
  }
  
}
@media screen and (min-width: 360px) and ( max-width:768px)  {
    

  .content{
      
      display:grid;
      width: 100%;
      height: auto;
      font-size: x-small;
       
    }

     
    .content table  {
      align-content: center;
      table-layout:fixed;
      width: 100%;
      border-collapse: separate;
      border-spacing:  1px;
      overflow: hidden;
       
    }
    .content table button{
      align-items: center;
      width: 72px;
      height: 30px;
      font-size: small;
    }
    .navbar{
      width: 100%;

    }
  }
  




table, td, th {
  border: 1px solid rgb(32, 32, 32);
  text-align: center;
  padding: 8px;
}


table {
  text-align: center;
  border-collapse: collapse;
  min-width: 50%;
}

th , td{
  height: 1%;
}

.form {
  margin-top: 1%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.paginado{
  margin-top: 10px;
  height:80px;
   
}

