@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 14px;
  min-height: 100vh;
  height: 100%;
}

.header {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  clear: both;
  position: relative;
  height: 40px;
  margin-top: 0px;
}

#container {
  width: 75%;
  margin: 0 auto;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
.navbar {
  font-family: 'Montserrat', sans-serif;
    float: left;
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    padding-top: 36px;
    height: 100%;
}

.navbar a {
  text-decoration: none;
  font-size: 15px;
  color: #2196F3;
  display: block;
}

.navbar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	;
	margin-bottom: 21px;
}

.navbar a:hover {
  color: #064579;
}

.content {
  margin: 0 auto;
  width: 400px;
}

table, td, th {
  border: 1px solid rgb(0, 0, 0);
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
}
.form {
  margin-top: 20px;
}
<<<<<<< HEAD

#coordenadaPopUp{
  display: none;
}
=======
tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
>>>>>>> development
