{% extends "layout.html" %}
{% block title %}Puntos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Editar un punto</h1>
  <form action="{{ url_for('punto_edit_finish' ) }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <input type="hidden" class="form-control"  id="id" name="id" value="{{punto.id}}">
    </div>
    <p>
      <label>nombre<label></br>
      <input name="nombre" placeholder="{{punto.nombre}}" value="{{punto.nombre}}" required/>
    </p>
    <p>
      <label>Direccion<label></br>
      <input name="direccion" placeholder="{{punto.direccion}}" value="{{punto.direccion}}" required/>
    </p>
    <p>
      <label>Coordenadas<label></br>
      <input name="coordenadas1" placeholder="{{punto.coordenadas1}}" value="{{punto.coordenadas1}}" required/>
    </p>
    <p>
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
        <option value="publicado">Publicado</option>
        <option value="despblicado">Despublicado</option>
    </select>
    </p>
    <p>
        <label>Telefono<label></br>
        <input name="telefono" placeholder="{{punto.telefono}}" value="{{punto.telefono}}" required/>
    </p>
    <p>
        <label>Email<label></br>
        <input name="email" placeholder="{{punto.email}}" value="{{punto.email}}" required/>
    </p>
    <p>
      <button type="submit" class="btn btn-primary mt-2 ml-2">Guardar</button> 
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('punto_index') }}" class="link">Volver</a>
{% endblock %}