{% extends "layout.html" %}
{% block title %}Puntos de Encuentro{% endblock %}
{% block head %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>

  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Editar punto de encuentro</h1>
  </div>
{% endblock %}

{% block content %}
  <form id="form-map" class="one-mark" action="{{ url_for('punto_update') }}" method="POST">
    <input id="punto-lat" class="punto-lat" name="punto-lat" type="hidden" value="{{ punto.lat }}">
    <input id="punto-lng" class="punto-lng" name="punto-lng" type="hidden" value="{{ punto.lng }}">
    <input id="{{ punto }}" class="punto-nombre" type="hidden" value="{{ punto.nombre }}">
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    <input type="hidden" class="form-control"  id="id" name="id" value="{{punto.id}}">
    <p>
      <label>Nombre: <label>
      <input name="nombre" placeholder="Nombre" value="{{punto.nombre}}" required/>
    </p>
    <p>
      <label>Direccion: <label>
      <input  name="direccion" placeholder="Direccion" value="{{punto.direccion}}"required/>
    </p>
    <p>
     <label>Estado: </label>
        <select id="estado" name="estado" value="{{punto.estado}}"required>
         <option value="" disabled hidden>
          Seleccione un estado
        </option>
        <option value="Publicado">Publicado</option>
        <option value="Despublicado">Despublicado</option>
    </select>
    </p>
    <p>
      <label>Telefono: <label>
      <input type="number" name="telefono" placeholder="Telefono" value="{{punto.telefono}}" required/>
    </p>
    <p>
      <label>Email: <label>
      <input type="email" name="email" placeholder="Email" value="{{punto.email}}" required/>
    </p>
    <p>
      <input type="submit" value="Modificar">
      <input type="reset" value="reset">
    </p>
  </form>
  <a href="{{ url_for('punto_index') }}" class="link">Volver</a>
{% endblock %}