{% extends "layout.html" %}
{% block title %}Puntos de encuentro {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Puntos de encuentro</h1>
  </div>
{% endblock %}

{% block navbar %}
  {{ super() }}
{% endblock %}

{% block content %}


<div>
<a href="{{ url_for('punto_new') }}" class="link" style="float:right;  margin-top: 5px; width:75px" >Nuevo</a>
<form action="{{ url_for('punto_filtro') }}" method="POST">
  <h4>Filtrar</h4> 
  <div>
      <input name="nombre" placeholder="Nombre"/>
      <select  name="estado">
        <option value="" selected>Seleccione un estado</option>
        <option value="Publicado">Publicado</option>
        <option value="Despublicado">Despublicado</option>
      </select>
      <input type="submit" value="Filtrar">
    </form>
    <br></div>
</div>
  <table>
    <tr>
        <th>  Email  </th>
        <th>  Nombre  </th>
        <th>  Coordenadas  </th>
        <th>  Estado  </th>
        <th>  Telefono  </th>
        <th>  Dirección  </th>
        {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'punto_edit') %}
        <th>  Editar  </th>
        {% endif %}
        {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'punto_delete') %}
        <th>  Eliminar  </th>
        {% endif %}
    </tr>
  {% for punto in puntos.items %}
    <tr>
      <td>{{ punto.email }}</td>
      <td>{{ punto.nombre }} </td>
      <td>{{ '%0.4f'| format(punto.lat|float) }}, {{ '%0.4f'| format(punto.lng|float) }} </td>
      <td>{{ punto.estado }}</td>
      <td>{{ punto.telefono }} </td>
      <td>{{ punto.direccion }} </td>
      <td>
        {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'punto_edit') %}
        <form action="{{ url_for('punto_edit', id = punto.id ) }}"  >
          <button type="submit" class="btn btn-warning  ">Editar</button>
        </form>
      </td>
        {% endif %}
      <td>
        {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'punto_delete') %}

        <form action="{{ url_for('punto_delete', id = punto.id) }}" method="POST" enctype="multipart/form-data">
          <button onclick="return confirm('¿Esta seguro de que desea eliminar este punto de encuentro?');"  class="btn btn-danger ">eliminar</a> 
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>


<div class="paginado">
  {% if puntos.has_prev %}
  <a class="link" href="{{ url_for('punto_index', page_num=puntos.prev_num,) }}">Anterior</a>
  {% endif %}
  {% for page_num in puntos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num%}
       {% if puntos.page == page_num%}
         <a href="" class="link selected">{{page_num}}</a>
       {% else %}
         <a href="{{ url_for('punto_index',page=page_num)}}" class="link">{{page_num}}</a>
       {% endif %}
     {% endif %}
  {% endfor %}
 {% if puntos.has_next %}
  <a class="link" href="{{ url_for('punto_index', page=puntos.next_num) }}">Siguiente</a>
  {% endif %}


  <a href="{{ url_for('home') }}" class="link">Volver</a>

  </div>
{% endblock %}