<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
  
  <link rel="icon" href="/static/imgs/logo.png" type="image/x-icon" > 
  <title> {{ punto.nombre }}</title>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

</head>
<body>
  <div class="map-container">
    <input id="{{ punto }}" class="puntos" type="hidden" value="{{ punto.lat }}" >
    <input id="{{ punto }}" class="puntos" type="hidden" value="{{ punto.lng }}" >
    <input id="{{ punto }}" class="puntos-colores" type="hidden" value="{{ punto.color }}" >
    <input id="{{ punto }}" class="puntos-nombre" type="hidden" value="{{ punto.nombre }}" >
    <div id="mapid" class="map-table"></div>
    <script type="text/javascript">
        const initialLat = -34.9186;
        const initialLng = -57.956;
        const mapLayerUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
        
        class Map {
          constructor({ selector }) {
              this.initializeMap(selector);
          };
          initializeMap(selector) {
              this.map = L.map(selector).setView([initialLat, initialLng], 13);
              L.tileLayer(mapLayerUrl).addTo(this.map);
          };
          addMarker( lat, lng ) {
            this.marker = L.marker([lat, lng]).addTo(this.map);
            this.map.setView([lat, lng], 13);
         };
        }
        window.onload = () => {
          const map = new Map({
            selector: 'mapid'
        });
        map.addMarker('{{ punto.lat }}','{{ punto.lng }}');
        }
    </script>
  </div>
</body>
</html>