{% extends "layout.html" %}
{% block title %}Puntos de Encuentro{% endblock %}
{% block head %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
  {{ super() }}
{% endblock %}

{% block headline %}
Crear Punto de Encuentro
{% endblock %}

{% block content %}
  <form id= "form-map" class="one-mark" action="{{ url_for('punto_create') }}" method="POST">
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    {% for f in form %}
      {% if f == form.csrf_token %}
        {{ f }}
      {% elif f==form.lat or f==form.lng %}
        {{ f }}
      {% else %}
      {{ f.label }}
      {{ f }}
      <ul class="errors">
        {% for error in f.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
    <p>
      <input type="submit" value="Crear" style="margin-right:10px">
      <button type="reset">Limpiar</button>
      </p>
  </form>
  <a href="{{ url_for('punto_index') }}" class="link">Volver</a>

{% endblock %}
