{% extends "layout.html" %}
{% block title %}Puntos de Encuentro{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

  <h1>Nuevo punto de encuentro</h1>
  <form action="{{ url_for('punto_create') }}" method="POST">
    <p>
      <label>Nombre<label></br>
      <input name="nombre" placeholder="Nombre" required/>
    </p>
    <p>
      <label>Direccion<label></br>
      <input  name="direccion" placeholder="Direccion" required/>
    </p>
      <label for="coordenada">Seleccione una coordenada</label>
      <select name="coordenada" id="coordenada">
        {% for coordenada in coordenadas %}
          <option value={{coordenada}}>{{coordenada}}</option>
        {% endfor %}
      </select>
      <a class="open-button" href="{{ url_for('coordenada_new_punto') }}" onclick="openForm()">CrearNuevo</a>
    <p> 
     <label>Estado<label></br>
     <select name="estado" required>
        <option value="" selected disabled hidden>
          Seleccione un estado
        </option>
        <option value="Publicado">Publicado</option>
        <option value="Despublicado">Despublicado</option>
     </select>
    </p>
    <p>
      <label>Telefono<label></br>
      <input name="telefono" placeholder="Telefono"/>
    </p>
    <p>
      <label>Email<label></br>
      <input name="email" placeholder="Email"/>
    </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('punto_index') }}" class="link">Volver</a>
{% endblock %}
