{% extends "layout.html" %}
{% block title %}Puntos de Encuentro{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Editar Punto de Encuentro</h1>
  <form action="{{ url_for('puntos_update') }}" method="POST">
    <input type="hidden" class="form-control"  id="id" name="id" value="{{punto.id}}">
    <p>
      <label>Nombre<label></br>
      <input name="nombre" placeholder="Nombre" value="{{punto.nombre}}" required/>
    </p>
    <p>
      <label>Direccion<label></br>
      <input  name="direccion" placeholder="Direccion" value="{{punto.direccion}}"required/>
    </p>
    <p>
      <label>coordenadas<label></br>
      <input name="coordenadas" placeholder="Coordenadas" value="{{punto.coordenadas}}"required/>
    </p>
    <p>
     <label>Estado<label></br>
        <select id="estado" name="estado" value="{{punto.estado}}"required>
         <option value="" disabled hidden>
          Seleccione un estado
        </option>
        <option value="Publicado">Publicado</option>
        <option value="Despublicado">Despublicado</option>
    </select>
    </p>
    <p>
      <label>Telefono<label></br>
      <input name="telefono" placeholder="Telefono" value="{{punto.telefono}}"/>
    </p>
    <p>
      <label>Email<label></br>
      <input name="email" placeholder="Email" value="{{punto.email}}"/>
    </p>
    <p>
      <input type="submit" value="Modificar">
    </p>
  </form>
  <a href="{{ url_for('puntos_index') }}" class="link">Volver</a>
{% endblock %}