{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Editar usuario</h1>
  </div>
{% endblock %}
{% block content %}
  <form action="{{ url_for('user_edit_finish') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.id(value= user.id)}}
    <fieldset class="form-field">
      {{ form.username.label }}
      {{ form.username(placeholder = user.username,value=user.username) }}
        {% if form.username.errors %}
        <ul class="errors">
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.email.label }}
      {{ form.email(placeholder = user.email, value = user.email) }}
        {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.first_name.label }}
      {{ form.first_name(placeholder = user.first_name, value = user.first_name) }}
        {% if form.first_name.errors %}
        <ul class="errors">
          {% for error in form.first_name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.last_name.label }}
      {{ form.last_name(placeholder = user.last_name, value = user.last_name) }}
        {% if form.last_name.errors %}
        <ul class="errors">
          {% for error in form.last_name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <p>
      {% if not is_admin(user.email) %}
        {{ form.estado.label }}
        {{ form.estado }}
      {% endif %}
    </p>
    <p>
      <input onclick="return confirm('¿Esta seguro de que desea editar este usuario?');" type="submit" value="Editar">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
