{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Editar un usuario</h1>
  <form action="{{ url_for('user_edit_finish') }}" method="POST">
    <div class="form-group">
      <input type="hidden" class="form-control"  id="id" name="id" value="{{user.id}}">
    </div>
    <p>
      <label>Email<label></br>
      <input name="email" placeholder="{{user.email}}" value="{{user.email}}" required/>
    </p>
    <p>
      <label>Clave<label></br>
      <input type="password" name="password" placeholder="{{user.password}}" value="{{user.password}}"/>
    </p>
    <p>
      <label>Nombre<label></br>
      <input name="first_name" placeholder="{{user.first_name}}" value="{{user.first_name}}"/>
    </p>
    <p>
      <label>Apellido<label></br>
      <input name="last_name" placeholder="{{user.last_name}}" value="{{user.last_name}}"/>
    </p>
    <p>
      {% if not is_admin(user.email) %}
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
          <option value="True">Activar</option>
          <option value="False">Desactivar</option>
        </select>
      {% endif %}
    </p>
    <p>
      <input type="submit" value="Editar">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
