{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Crear usuario</h1>
  </div>
{% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}

{% block content %}
  <form action="{{ url_for('user_create') }}" method="POST">
    <p>
      <label>Email<label></br>
      <input name="email" placeholder="Correo"/ required>
    </p>
    <p>
      <label>Clave<label></br>
      <input type="password" name="password" placeholder="Clave" required/>
    </p>
    <p>
      <label>Nombre<label></br>
      <input name="first_name" placeholder="Nombre" required/>
    </p>
    <p>
      <label>Apellido<label></br>
      <input name="last_name" placeholder="Apellido" required/>
    </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
