{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Crear usuario</h1>
  </div>
{% endblock %}
{% block navbar %}
<a href="{{ url_for('denuncia_index') }}" class="navbar">Denuncia</a>
{% if is_authenticated(session) %}
  <a href="{{ url_for('recorrido_index') }}" class="navbar">Recorrido</a>
  <a href="{{ url_for('zona_index') }}" class="navbar">Zonas</a>
  <a href="{{ url_for('punto_index') }}" class="navbar">Puntos de Encuentro</a>
  <a href="{{ url_for('configuration_edit') }}" class="navbar">Configuracion</a>
  {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'user_index') %}  
    <a href="{{ url_for('rol_index') }}" class="navbar" >Roles</a>
    <a href="{{ url_for('user_index') }}" class="navbar active" >Usuarios</a>
  {% endif %}
  <a href="{{ url_for('auth_logout') }}" class="navbar">Cerrar sesión</a>
{% else %}
  <a href="{{ url_for('auth_login') }}" class="navbar">Iniciar sesión</a>
{% endif %}
{% endblock %}

{% block content %}
  <form action="{{ url_for('user_create') }}" method="POST">
    <p>
      <label>Email<label>
      <input type="email" name="email" placeholder="Correo" required/>
    </p>
    <p>
      <label>Clave<label>
      <input type="password" name="password" placeholder="Clave" required/>
    </p>
    <p>
      <label>Nombre<label>
      <input name="first_name" placeholder="Nombre" required/>
    </p>
    <p>
      <label>Apellido<label>
      <input name="last_name" placeholder="Apellido" required/>
    </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
