{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Crear usuario</h1>
  </div>
{% endblock %}
{% block navbar %}
<a href="/" class="navbar" id="home" >Inicio</a>
{% if is_authenticated(session) %}
  <a href="{{ url_for('punto_index') }}" class="navbar">Puntos de Encuentro</a>
  <a href="{{ url_for('configuration_edit') }}" class="navbar">Configuracion</a>
  {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'user_index') %}  
    <a href="{{ url_for('rol_index') }}" class="navbar">Roles</a>
    <a href="{{ url_for('user_index') }}" class="navbar active">Usuarios</a>
    {% endif %}
    <a href="{{ url_for('auth_logout') }}" class="navbar">Cerrar sesión</a>
{% else %}
  <a href="{{ url_for('auth_login') }}" class="navbar">Iniciar sesión</a>
{% endif %}
{% endblock %}

{% block content %}
  <form action="{{ url_for('user_create') }}" method="POST">
    <p>
      <label>Email<label></br>
      <input type="email" name="email" placeholder="Correo"/ required maxlength=20>
    </p>
    <p>
      <label>Clave<label></br>
      <input type="password" name="password" placeholder="Clave" required maxlength=20 minlength=8/>
    </p>
    <p>
      <label>Nombre<label></br>
      <input name="first_name" placeholder="Nombre" required maxlength=20/>
    </p>
    <p>
      <label>Apellido<label></br>
      <input name="last_name" placeholder="Apellido" required maxlength=20/>
    </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
