{% extends "layout.html" %}
{% block title %}Seguimientos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Seguimientos para denuncia {{denuncia_id}}</h1>
<table>
  <tr>
      <th>  User id  </th>
      <th>  Fecha de Creacion  </th>
      <th>  Descripcion  </th>
  </tr>
  {% for seguimiento in seguimientos %}
  <tr>
    <td>{{ seguimiento.user.username }}</td>
    <td>{{ seguimiento.fechaC }}</td>
    <td>{{ seguimiento.descripcion }}</td>
  </tr>
  {% endfor %}
</table>


<a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
<form action="{{ url_for('seguimiento_new', denuncia_id = denuncia_id) }}">
  <button type="submit" class="btn btn-info mt-2 ml-2">Nuevo</button>
</form>
{% endblock %}