{% extends "layout.html" %}
{% block title %}Seguimientos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header"> {{ denuncia.titulo }}</h1>
  </div>
{% endblock %}
{% block content %}
<form action="{{ url_for('seguimiento_new', denuncia_id=denuncia.id)}}">
  <button type="submit" class="btn btn-info mt-2 ml-2" style="float:right;  margin-top: 5px; width:75px">Nuevo</button>
</form>
<table>
  <tr>
      <th>  User id  </th>
      <th>  Fecha de Creacion  </th>
      <th>  Descripcion  </th>
  </tr>
  {% for seguimiento in seguimientos %}
  <tr>
    <td>{{ seguimiento.user }}</td>
    <td>{{ seguimiento.fechaC }}</td>
    <td>{{ seguimiento.descripcion }}</td>
  </tr>
  {% endfor %}
</table>

<a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
{% endblock %}