{% extends "layout.html" %}
{% block title %}Seguimientos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Seguimientos para denuncia {{denuncia_id}}</h1>
{% for seguimiento in seguimientos.items %}
    <li>{{ seguimiento.user}} - {{ seguimiento.fechaC }} - {{ seguimiento.descripcion }}</li>
{% endfor %}
<a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
<form action="{{ url_for('seguimiento_new')}}">
  <button type="submit" class="btn btn-info mt-2 ml-2">Nuevo</button>
</form>
{% endblock %}