{% extends "layout.html" %}
{% block title %}Configuration{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Configuración de Página</h1>
  </div>
{% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h4>Página de configuracion de la aplicación</h4>
  {% if is_authenticated(session) %}
  <form action="{{ url_for('configuration_update') }}" method="POST">
    <p>
      <label for="rows_per_page">Filas por página</label>
      <input id="rows_per_page" type="number" name="rows_per_page" placeholder="{{ configurator().get_rows_per_page() }}" />
    </p>
    <p>
      <label>Criterio de orden</label>
        <select name='order'>
          <option value='prioridad'>Prioridad</option>
          <option value='cercania' selected>Cercanía</option>
          <option value='a..z'>A..Z</option>
          <option value='z..a'>Z..A</option>
        </select>
    </p>
    <div>
      <h5>Paleta aplicación privada:</h5>
      <label for="private_bg_color" class="dropbtn">Fondo</label>
      <input type="color" id="private_bg_color" name="private_bg_color" value="{{ configurator().get_private_bg_color() }}" />
      <label for="private_bg_color" class="dropbtn">  Acentos</label>
      <input type="color" id="private_accent_color" name="private_accent_color" value="{{ configurator().get_private_accent_color() }}" />
      <label for="private_bg_color" class="dropbtn">  Letras</label>
      <input type="color" id="private_leters_color" name="private_letters_color" value="{{ configurator().get_private_letters_color() }}" />
    </div>
    <div>
      <h5>Paleta aplicación pública:</h5>
      
      <label for="public_bg_color" class="dropbtn">Fondo</label>
      <input type="color" id="public_bg_color" name="public_bg_color" value="{{ configurator().get_public_bg_color() }}" />
      <label for="public_bg_color" class="dropbtn">   Acentos</label>
      <input type="color" id="public_accent_color" name="public_accent_color" value="{{ configurator().get_public_accent_color() }}" />
      <label for="public_bg_color" class="dropbtn">   Letras</label>
      <input type="color" id="public_leters_color" name="public_letters_color" value="{{ configurator().get_public_letters_color() }}" />
    </div>
    <button type="reset">Limpiar</button>
    <input type="submit" value="Guardar">
    <br>
  </form>    
  {% endif %}
  <div style="margin-top:20px  ">
    <a href="{{ url_for('home') }}" class="link">Volver</a>
  </div>
{% endblock %}