{% extends "layout.html" %}
{% block title %}Configuration{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Configuracion</h1>
  <p>Página de configuracion de la aplicación</p>
  {% if is_authenticated(session) %}
  <form action="{{ url_for('configuration_update') }}" method="POST">
    <p>
      <label for="cant_filas">filas por página</label>
      <input id="cant_filas" type="number" name="cant_filas" placeholder="{{ configurations.cant_filas }}" />
    </p>
    <p>
      <label for="order">criterio de orden</label>
        <select name='order'>
          <option value='1'>Importancia</option>
          <option value='2'>Cercanía</option>
          <option value='3'>A..Z</option>
          <option value='3'>Z..A</option>
        </select>
    </p>
    <p>
      <label for="private_bg_color" class="dropbtn">paleta aplicación privada: Fondo</label>
      <input type="color" id="private_bg_color" name="private_bg_color" value="{{ configurations.private_bg_color }}" />
      <label for="private_bg_color" class="dropbtn"> acentos:</label>
      <input type="color" id="private_accent_color" name="private_accent_color" value="{{ configurations.private_accent_color }}" />
      <label for="private_bg_color" class="dropbtn"> letras:</label>
      <input type="color" id="private_leters_color" name="private_letters_color" value="{{ configurations.private_letters_color }}" />
    </p>
    <p>
      <label for="public_bg_color" class="dropbtn">paleta aplicación pública: Fondo</label>
      <input type="color" id="public_bg_color" name="public_bg_color" value="{{ configurations.public_bg_color }}" />
      <label for="public_bg_color" class="dropbtn"> acentos:</label>
      <input type="color" id="public_accent_color" name="public_accent_color" value="{{ configurations.public_accent_color }}" />
      <label for="public_bg_color" class="dropbtn"> letras:</label>
      <input type="color" id="public_leters_color" name="public_letters_color" value="{{ configurations.public_letters_color }}" />
    </p>
    <input type="submit" value="Guardar">
    <button type="reset">Limpiar</button>
    <br>
  </form>    
  {% endif %}
  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}