{% extends "layout.html" %}
{% block title %}Editar denuncia{% endblock %}
{% block head %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>

  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Editar denuncia</h1>
  </div>
{% endblock %}
{% block content %}
  <form id="form-map" class="one-mark" action="{{ url_for('denuncia_edit_finish') }}" method="POST">
    <input class="punto-lat" name="lat" type="hidden" >
    <input class="punto-lng" name="lng" type="hidden" >
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>

    {{ form.csrf_token}}
    {{ form.id(value= denuncia.id) }}
    {{ form.lat(value= denuncia.lat) }}
    {{ form.lng(value= denuncia.lng) }}

    <fieldset class="form-field">
      {{ form.titulo.label }}
      {{ form.titulo (placeholder=denuncia.titulo,value=denuncia.titulo) }}
        {% if form.titulo.errors %}
        <ul class="errors">
          {% for error in form.titulo.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.categoria.label }}
      {{ form.categoria (placeholder=denuncia.categoria,value=denuncia.categoria) }}
        {% if form.categoria.errors %}
        <ul class="errors">
          {% for error in form.categoria.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.descripcion.label }}
      {{ form.descripcion (placeholder=denuncia.descripcion,value=denuncia.descripcion) }}
        {% if form.descripcion.errors %}
        <ul class="errors">
          {% for error in form.descripcion.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.estado.label }}
      {{ form.estado (placeholder=denuncia.estado,value=denuncia.estado) }}
        {% if form.estado.errors %}
        <ul class="errors">
          {% for error in form.estado.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.apellidoD.label }}
      {{ form.apellidoD (placeholder=denuncia.apellidoD,value=denuncia.apellidoD) }}
        {% if form.apellidoD.errors %}
        <ul class="errors">
          {% for error in form.apellidoD.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.nombreD.label }}
      {{ form.nombreD (placeholder=denuncia.nombreD,value=denuncia.nombreD) }}
        {% if form.nombreD.errors %}
        <ul class="errors">
          {% for error in form.nombreD.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.telefono.label }}
      {{ form.telefono (placeholder=denuncia.telefono,value=denuncia.telefono) }}
        {% if form.telefono.errors %}
        <ul class="errors">
          {% for error in form.telefono.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.emailD.label }}
      {{ form.emailD (placeholder=denuncia.emailD,value=denuncia.emailD) }}
        {% if form.emailD.errors %}
        <ul class="errors">
          {% for error in form.emailD.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.asignadoA.label }}
      {{ form.asignadoA (placeholder=denuncia.asignadoA,value=denuncia.asignadoA) }}
        {% if form.asignadoA.errors %}
        <ul class="errors">
          {% for error in form.asignadoA.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <p>
      <input type="submit" value="Editar">
      <button type="reset">Limpiar</button>
    </p>

  </form>
  <a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
{% endblock %}

