{% extends "layout.html" %}
{% block title %}Denuncias {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Denuncias</h1>
  </div>
{% endblock %}

{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Denuncias</h1>
<form action="{{ url_for('denuncia_filtro') }}" method="POST">
  <h3>Filtrar</h3> 
      <input name="titulo" placeholder="Titulo" value="{{titulo}}"/>
      <br>
      <select  name="estado">
        <option value="" selected>Seleccione un estado</option>
        <option value="sinConfirmar">Sin Confirmar</option>
        <option value="curso">Curso</option>
        <option value="resuelta">Resuelta</option>
        <option value="cerrada">Cerrada</option>
      </select>
      <br>
  <p>
    <label>Rango de fechas: <label></br>
    <input type="date" name="fechaC"  />
    <input type="date" name="fechaF" />
  </p>
  <input type="submit" value="Filtrar">
</form>
<table>
  <tr>
      <th>  Titulo  </th>
      <th>  Categoria  </th>
      <th>  Fecha de Creacion  </th>
      <th>  Fecha de Cierre  </th>
      <th>  Descripcion  </th>
      <th>  Coordenadas  </th>
      <th>  Estado  </th>
      <th>  Apellido denunciante  </th>
      <th>  Nombre denunciante  </th>
      <th>  telefono del denunciante  </th>
      <th>  Email denunciante  </th>
      <th>  Asignado A  </th>
      <th>  Acciones  </th>
  </tr>
  {% for denuncia in denuncias.items %}
  <tr>
    <td>{{ denuncia.titulo }}</td>
    <td>{{ denuncia.categoria }} </td>
    <td>{{ denuncia.fechaC }} </td>
    {% if denuncia.fechaF == None %}
      <td>No Finalizada</td>
    {% else %}
      <td>{{ denuncia.fechaF }}</td>
    {% endif %}
    <td>{{ denuncia.descripcion }}</td>
    <td>{{ denuncia.lat , denuncia.lng }}</td>
    <td>{{ denuncia.estado }}</td>
    <td>{{ denuncia.apellidoD }}</td>
    <td>{{ denuncia.nombreD }}</td>
    <td>{{ denuncia.telefono }}</td>
    <td>{{ denuncia.emailD }}</td>
    <td>{{ denuncia.asignadoA}}</td>
    <td>
      <form action="{{ url_for('seguimiento_index', denuncia_id = denuncia.asignadoA ) }}">
        <button type="submit" class="btn btn-info mt-2 ml-2">Seguimientos</button>
      </form>
      <form action="{{ url_for('denuncia_edit', denuncia_id = denuncia.id ) }}">
      {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'denuncia_edit') %}
        <button type="submit" class="btn btn-warning mt-2 ml-2">Editar</button>
      {% endif %}
      </form>
      <br>
      <form action="{{ url_for('denuncia_delete') }}" method="POST" enctype="multipart/form-data">
      {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'denuncia_delete') %}
        <input type="hidden" id="denuncia_id" name="denuncia_id" value="{{denuncia.id}}">
       <button onclick="return confirm('Estas seguro de que deseas eliminar esta denuncia?');" class="btn btn-danger mt-2 ml-2">eliminar</a>
      {% endif %}
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<div class="paginado">
  {% if denuncias.has_prev %}
  <a class="link" href="{{ url_for('denuncia_index', page_num=denuncias.prev_num,) }}">Anterior</a>
  {% endif %}
  {% for page_num in denuncias.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num%}
       {% if denuncias.page == page_num%}
         <a href="" class="link selected">{{page_num}}</a>
       {% else %}
         <a href="{{ url_for('denuncia_index',page=page_num)}}" class="link">{{page_num}}</a>
       {% endif %}
     {% endif %}
  {% endfor %}
 {% if denuncias.has_next %}
  <a class="link" href="{{ url_for('denuncia_index', page=denuncias.next_num) }}">Siguiente</a>
  {% endif %}


<a href="{{ url_for('home') }}" class="link">Volver</a>
<a href="{{ url_for('denuncia_new') }}" class="link">Nuevo</a>
{% endblock %}