{% extends "layout.html" %}
{% block title %}Denuncias {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="title">Denuncias</h1>
  </div>
{% endblock %}

{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
<a href="{{ url_for('denuncia_new') }}" class="link" style="float:right;  margin-top: 5px; width:75px">Nuevo</a>
<form  class="tabla" action="{{ url_for('denuncia_filtro') }}" method="POST">
  <div>
    <h4>Filtrar</h4> 
      <input name="titulo" placeholder="Titulo" value="{{titulo}}"/>
      <select  name="estado">
        <option value="" selected>Seleccione un estado</option>
        <option value="sinConfirmar">Sin Confirmar</option>
        <option value="curso">Curso</option>
        <option value="resuelta">Resuelta</option>
        <option value="cerrada">Cerrada</option>
      </select></br>
    <label>Rango de fechas: <label>
    <input type="date" name="fechaC"/>
    <input type="date" name="fechaF"/>
  <input type="submit" value="Filtrar">
</div>
</form>
<br>

<table>
  <tr>
      <th>  Titulo  </th>
      <th>  Categoria  </th>
      <th>  Descripcion  </th>
      <th>  Coordenadas  </th>
      <th>  Estado  </th>
      <th>  Acciones  </th>
  </tr>
  {% for denuncia in denuncias.items %}
  <tr>
    <td><a class="link" href="{{ url_for('denuncia_show', id=denuncia.id) }}">{{ denuncia.titulo }}</a></td>
    <td>{{ denuncia.categoria }} </td>
    <td>{{ denuncia.descripcion }}</td>
    <td><iframe  src="{{  url_for('denuncia_show_map', id = denuncia.id ) }}" loading="lazy" name="map"></iframe></td>
    <td>{{ denuncia.estado }}</td>
    <td>
      <form action="{{ url_for('seguimiento_index', denuncia_id = denuncia.id ) }}">
        <button type="submit" class="btn btn-info mt-2 ml-2" >Seguimientos</button>
      </form>
      {% if my_user(is_authenticated(session)) != None %}
        {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'denuncia_edit') %}
          <form action="{{ url_for('denuncia_edit', denuncia_id = denuncia.id ) }}">
          <button type="submit" class="btn btn-warning mt-2 ml-2">Editar</button>
        </form>
        {% endif %}
        {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'denuncia_delete') %} 
        <form action="{{ url_for('denuncia_delete') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="denuncia_id" name="denuncia_id" value="{{denuncia.id}}">
        <button onclick="return confirm('Estas seguro de que deseas eliminar esta denuncia?');" class="btn btn-danger mt-2 ml-2">eliminar</a>
        </form>
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<br>
<div class="paginado">
  {% if denuncias.has_prev %}
  <a class="link" href="{{ url_for('denuncia_index', page_num=denuncias.prev_num,) }}">Anterior</a>
  {% endif %}
  {% for page_num in denuncias.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num%}
       {% if denuncias.page == page_num%}
         <a href="" class="link active">{{page_num}}</a>
       {% else %}
         <a href="{{ url_for('denuncia_index',page=page_num)}}" class="link">{{page_num}}</a>
       {% endif %}
     {% endif %}
  {% endfor %}
 {% if denuncias.has_next %}
  <a class="link" href="{{ url_for('denuncia_index', page=denuncias.next_num) }}">Siguiente</a>
  {% endif %}


<a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}