{% extends "layout.html" %}
{% block title %}Nueva denuncia{% endblock %}
{% block head %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>

  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Nueva denuncia</h1>
  </div>
{% endblock %}
{% block content %}
  <form id="form-map" class="one-mark" action="{{ url_for('denuncia_create') }}" method="POST" >
    <input id="punto-lat" class="punto-lat" name="lat" type="hidden" >
    <input id="punto-lng" class="punto-lng" name="lng" type="hidden" >
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    {{ form.csrf_token }}
    {{ form.one_marker(value="nada") }}
    {{ form.lat }}
    {{ form.lng }}
    <fieldset class="form-field">
      {{ form.titulo.label }}
      {{ form.titulo }}
        {% if form.titulo.errors %}
        <ul class="errors">
          {% for error in form.titulo.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.categoria.label }}
      {{ form.categoria }}
        {% if form.categoria.errors %}
        <ul class="errors">
          {% for error in form.categoria.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.descripcion.label }}
      {{ form.descripcion }}
        {% if form.descripcion.errors %}
        <ul class="errors">
          {% for error in form.descripcion.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.estado.label }}
      {{ form.estado }}
        {% if form.estado.errors %}
        <ul class="errors">
          {% for error in form.estado.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.apellidoD.label }}
      {{ form.apellidoD }}
        {% if form.apellidoD.errors %}
        <ul class="errors">
          {% for error in form.apellidoD.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.nombreD.label }}
      {{ form.nombreD }}
        {% if form.nombreD.errors %}
        <ul class="errors">
          {% for error in form.nombreD.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.telefono.label }}
      {{ form.telefono }}
        {% if form.telefono.errors %}
        <ul class="errors">
          {% for error in form.telefono.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.emailD.label }}
      {{ form.emailD }}
        {% if form.emailD.errors %}
        <ul class="errors">
          {% for error in form.emailD.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <fieldset class="form-field">
      {{ form.asignadoA.label }}
      {{ form.asignadoA }}
        {% if form.asignadoA.errors %}
        <ul class="errors">
          {% for error in form.asignadoA.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
{% endblock %}
