{% extends "layout.html" %}
{% block title %}Nueva denuncia{% endblock %}
{% block head %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="module" src="/static/js/map.js" ></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Nueva denuncia</h1>
  </div>
{% endblock %}
{% block content %}
  <form id="form-map" action="{{ url_for('denuncia_create') }}" method="POST">
    <input type="hidden" class="coordenadas" name="coordenadas" id="coordenadas">
    <div class="map-container">
      <div id="mapid" class="mapform" ></div>
    </div>
    <p>
      <label>Titulo<label></br>
      <input name="titulo" placeholder="Titulo de denuncia"/>
    </p>
    <p>
      <label for="categoria">Categoria:</label>
          <select id="categoria" name="categoria">
            <option value="cañeria_rota">Cañeria Rota</option>
            <option value="calle_inundable">Calle Inundable</option>
            <option value="calle_rota">Calle rota</option>
            <option value="otro">Otro</option>
          </select>
    </p>     
    <p>
      <label>Descripcion <label></br>
      <input name="descripcion" placeholder="descripcion"/>
    </p>
    
      <p>
        <label for="estado">Estado:</label>
            <select id="estado" name="estado">
              <option value="sinConfirmar">Sin confirmar</option>
              <option value="curso">En curso</option>
              <option value="resuelta">Resuelta</option>
              <option value="cerrada">Cerrada</option>
            </select>
      </p>     
      <p>
        <label>Apellido del denunciante <label></br>
        <input name="apellidoD" placeholder="apellidoD"/>
      </p>
      <p>
        <label>Nombre del denunciante <label></br>
        <input name="nombreD" placeholder="nombreD"/>
      </p>
      <p>
        <label>Telefono <label></br>
        <input name="telefono" placeholder="Telefono"/>
      </p>
      <p>
        <label>Email del denunciante <label></br>
        <input name="emailD" placeholder="emailD"/>
      </p>
    <p>
      <label>Usuario Encargado : <label></br>
      <select class="selectpicker" name="asignadoA" id="asignadoA">
        {% for user in users %}
          {% for rol in user.rols %}
            {% if rol.nombre != None %}
              <option value={{user.id}}>{{user.first_name}}</option>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </select>
      </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
{% endblock %}
