{% extends "layout.html" %}
{% block title %}La Plata inundaciones{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Inicio</h1>
  </div>
{% endblock %}
{% block navbar %}
  {% if is_authenticated(session) %}
    <a href="{{ url_for('punto_index') }}" class="navbar">Puntos de Encuentro</a>
    <a href="{{ url_for('configuration_edit') }}" class="navbar">Configuracion</a>
    {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'user_index') %}  
      <a href="{{ url_for('rol_index') }}" class="navbar">Roles</a>
      <a href="{{ url_for('user_index') }}" class="navbar">Usuarios</a>
    {% endif %}
    <a href="{{ url_for('auth_logout') }}" class="navbar">Cerrar sesión</a>
  {% else %}
    <a href="{{ url_for('auth_login') }}" class="navbar">Iniciar sesión</a>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="map-container">
    <div id="mapid" class="map-fullpage"></div>
  </div>
{% endblock %}
