{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <div>
    {{ super() }}
    <h1 id="header">Inicio</h1>
  </div>
{% endblock %}
{% block content %}
  <p>Página de inicio de la aplicación</p>
  <a href="{{ url_for('punto_index') }}" class="link">Ver puntos</a>
  <a href="{{ url_for('issue_index') }}" class="link">Problemas</a>
  {% if is_authenticated(session) %}
    <a href="{{ url_for('configuration_index') }}" class="link">Configuracion</a>
    {% if my_user(is_authenticated(session)).check_permiso(is_authenticated(session),'user_index') %}
      <a href="{{ url_for('rol_index') }}" class="link">Roles</a>
      <a href="{{ url_for('user_index') }}" class="link">Usuarios</a>
      {% endif %}
      <a href="{{ url_for('auth_logout') }}" class="link">Cerrar sesión</a>
  {% else %}
    <a href="{{ url_for('auth_login') }}" class="link">Iniciar sesión</a>
  {% endif %}
{% endblock %}
